<div class="row container">
    <div class="col s12">
        <h3 class="light">Login</h3>
    </div>
    <form class="form-signin col s12" method="POST" action="?url=login/check/">       
        <input type="text" class="form-control" name="email" placeholder="email" required="" autofocus="" />
        <input type="password" class="form-control" name="senha" placeholder="senha" required=""/> 
        <br>
        <br>
        <div>     
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <div></div>   
    </form>
</div>